
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
}
:root{
    --main-bg:rgb(12, 12, 12);
    --primary-bg: rgb(17, 16, 16);
    --font-color:#ffffff;
    --normal-color: rgb(247, 20, 20);
}
body {
    background-color:var(--main-bg) ;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-image:url(bugatti.jpg);
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
}

header {
    background-color:var(--primary-bg);
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
}
.icon {
    display: none;
}
.icon i, .icon-cancel i {
    font-size: 1.5rem;
}
.icon-cancel {
    display: none;
    padding:15px;
}
.logo {
    font-weight: 600;
    color: var(--normal-color);
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    color: var(--font-color);
    font-weight:500;
    font-size: .8rem;
    padding:10px;
    transition: .5s;
}
nav ul li a:hover {
     color: var(--normal-color);  
}
.icon-heading {
    display:flex;
    flex-direction: row;
    gap:10px;
}
.icon-heading i {
    padding:0px 7px;
}
.line{
    width:1px;
    height:20px;
    background-color: var(--font-color);
}
.heading-content {
   position: relative;
   margin:3rem;

}
.heading-content img {
    width: 150px;
    height:100px;
    margin-bottom: 15px;
}
.heading-content p {
     color: #ffffff;
     font-weight: 300;
     font-size: 1.2rem;
     margin-bottom: 10px;
}
.cheron {
    position: relative;
    z-index: 1;
}
.cheron h2 {
   color: #ffffff;
   font-size:3.5rem;
   font-weight:700;
}
.line-cheron{
    width:100px;
    height:70px;
    background-color: var(--normal-color);
    position: absolute;
    bottom:2%;
    left:5%;
    z-index: -1;
    transform:skew(20deg);
} 
#live {
  font-weight: 100;
  color: var(--normal-color);
  font-size:2.5rem;
  margin-top: 15px;
}
.explore {
    display: flex;
}
.exp{
    width:18px;
    height: 1px;
    margin-top:10px;
    background-color: var(--normal-color);
}
.explore h3{
    color:var(--font-color);
}

/* bottom part of the heading container */
.last-heading-option{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    float: right;
}

.time {
    padding:0px 30px;
}
.time h3 {
    text-align: center;
    font-weight:900;
    font-size: 0.8rem;
    color: var(--font-color);
}
.time p {
    color: var(--font-color);
    font-weight: 200;
    font-size: 0.5rem;
}
.small-car-image {
    position: relative;
}
.small-car-image img {
    width:200px;
    height: 100px;
    object-fit: cover;
    margin-top: 2rem;
}
.play-icon {
    position: absolute; 
    top:50%;
    left:30%;
    background-color: var(--normal-color);
    padding:10px;
    border-radius: 50%;
}
.play-icon i {
    color: #ffffff;
    font-size: 1.3rem;
}

/* car logo section */
.car-logo-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:100%;
    color: var(--font-color);
    padding:3rem 0rem;
}
.logo-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:1rem 0rem;
}
.logo-heading h2{
      text-align: center;
      font-weight: 400;
      font-size: 2.5rem;
}
 .logo-heading .lines {
    width:25px;
    height: 1px;
    background-color: var(--normal-color);
    margin-top: 2px;
}
.logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-text p {
    text-align: center;
    line-height: 25px;
    font-weight: 100;
}
.logo-image {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-top:3.5rem;
}
.logo-image img {
    width:150px;
    height:auto;
    object-fit: cover;
}



/* motor  image secton */
.motor-image-section{
    background-image: url(motorimage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100vh;
    position: relative;
    margin:3rem 0rem;
    opacity: 1;
    animation:FadeOut 6s 1;

}
@keyframes FadeOut {
    0%{
        opacity: 0;
    }
    100%{
       opacity: 1;
    }
}
.motor-image-section .play-icon {
    position: absolute; 
    top:35%;
    left:50%;
    background-color: var(--normal-color);
    padding:20px;
    border-radius: 50%;
}

/* purchase luxurious car heading */
.purchase-luxurious-section{
   width: 100%;
   padding:1rem 0rem;
}
.luxurious-heading{
   display: flex;
   align-items: center;
   justify-content:space-around;
   
}
.logo-purchase h2 {
    font-weight: 400;
    font-size: 1.9rem;
    color: var(--font-color);
}
.logo-purchase .lines {
    width:25px;
    height: 1px;
    background-color: var(--normal-color);
    margin-top: 2px;
}
.view {
    border:1px solid #ffffff;
    padding:20px;
}
.view a {
    color: var(--font-color);
    font-weight: 800;
    font-size: 1.3rem;
    transition: .5s;
}
.view a:hover {
    color: var(--normal-color);
}
.purchase-content {
    display: flex;
    justify-content: center;
    gap:25px;
    margin:2rem 0rem;
}
.purchase-text h3 {
    font-size: 1.2rem;
    color: #ffffff;
}
.purchase-text p {
    font-size:0.9rem;
    font-weight: 200;
    color: var(--font-color);
    margin:3rem 0rem;

}
.purchase-image-and-text{
      background-color:rgb(31, 30, 30);
}
.purchase-image-and-text img {
    width:600px;
    height: auto;
    object-fit: cover;
}
.image-text {
    padding:15px;
    color: var(--font-color);
    position: relative;
}
.image-text p {
    margin-top: 15px;
    max-width:400px;
}
.arrow-right {
    background-color: var(--normal-color);
    padding: 10px;
    position: absolute;
    right:40px;
}
.right-btn{
    color:#ffffff;
    font-size:1.5rem;
    border:1px solid transparent;
    background-color: transparent;
}

/* contact section */
.contact-section{
    background:linear-gradient(0deg,rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(contactimage.jpeg);
    width: 100%;
    height:auto;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding:5rem 0rem;
}
.contact-container{
  display: flex;
    justify-content:center;
    align-items: center;
    gap:2.5rem;
}
.registration-form{
    background-color: var(--font-color);
    padding:2.5rem;
}
.registration-form h3 {
    margin-bottom:20px;
}
.border-bottom  {
   border-bottom:1px solid rgba(17, 16, 16,0.4);
}
.name p {
    margin:6px 0px;
}
.collection {
    color: var(--normal-color);
    border:1px solid var(--normal-color);
    padding:10px 25px;
    margin-top: 15px;
}
.collection h4 {
    font-size:0.7rem;
    text-align: center;
    
}
.contact-location h3 {
    color: var(--font-color);
    margin:1rem 0rem;
    
}
.contact-location p {
    color: var(--font-color);
    margin:1.2rem 0rem;
}
#italy {
    text-align: center;
}
.contact-location span i {
    color: var(--normal-color);
    margin:0 10px;
}

/* news ND EVENT SECTION */
.news-event-section{
    padding:1rem 0rem;
    background-color: rgb(31, 30, 30);
}
.explore a {
    color: var(--font-color);
    transition: .5s;
}
.explore a:hover {
    color: var(--normal-color);
}
.news-event-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,320px));
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
}
.news-event-content{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.news-event-content img {
    width: 300px;
    height:300px;
    border-radius:5px;
    object-fit: cover;
}
.news-event-content span{
    color: rgb(53, 52, 52);
}
.news-event-content p {
    color: var(--font-color);
    font-size:1.1rem;
    transition: .5s;
}
.news-event-content p:hover{
    color: var(--normal-color);
}

/* footer section */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:2.5rem 0rem;
}
.footer-content{
    text-transform: capitalize;
    color: var(--font-color);
}
.footer-line {
    width:25px;
    height:1px;
    background-color:rgb(53, 52, 52);
    margin-top: 20px;
}
.footer-content h3 {
    font-size: 1.3rem;
}
.footer-content p {
    margin:15px 0px;
  color: whitesmoke;
  transition: .5s;
  cursor: pointer;
}
.footer-content p:hover {
    color: var(--normal-color);
}

/*final section */
.final-section {
   border-top:1px solid rgb(53, 52, 52);
}
.final-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:2.5rem 0rem;
}
.first, .third {
    display:flex;
    gap:1rem;
    color: var(--font-color);
    text-transform: capitalize;
}


/* media query for each section */
/* media query at 1024px */
@media (max-width:1024px) {
    .motor-image-section{
        background-image: url(motorimage.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
    }

}
/* at 900px */
@media (max-width:900px) {
    .container {
        height:80vh;
    }
    .heading-content{
        margin:2.5rem;
    }
    .heading-content img {
        width:90px;
        height:100px;
        object-fit: cover;
        margin-bottom: 5px;
    }
    .heading-content p {
        font-size: 0.7rem;
   }
   .cheron h2 {
      font-size:1.5rem;
   }
   .line-cheron{
    width:40px;
    height:30px;
    background-color: var(--normal-color);
    position: absolute;
    bottom:0;
    left:2%;
    z-index: -1;
    transform:skew(20deg);
} 
.last-heading-option{
    margin-top:3rem;
}
}
/* at800px*/
@media (max-width:800px) {
    .logo-image {
        display:flex;
        flex-direction: column;
    }
    .logo-heading h2{
        font-size:1.5rem;
  }
  .logo-text{
      padding:1.5rem;
  }
  .purchase-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
    flex-direction: column;
}
}
/*at 760px */
@media (max-width:760px) {
    .container{
        height: 100vh;
    }
    .last-heading-option{
        display: flex;
        flex-direction:column;
}
}

/* at 650px */
@media (max-width:650px) {
   .icon{
       display: block;
   }
   .icon-cancel {
       display: block;
       position: absolute;
       right: 10px;
   }
   .nav-bar {
       position: absolute;
       z-index:999;
       top:90px;
       right:0;
       width:100vw;
       height:100vh;
       background-color:var(--primary-bg);
       display: none;
       transition:0.35s;
   }
   .active {
       display: block;
   }
   nav ul li {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin:2rem 0rem;
   }




    .final-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
    }
    footer{
        display: flex;
        flex-direction:column;
        gap:1.5rem;
    
    }
}

@media (max-width:600px){
    .logo-purchase h2 {
        font-size: 1.4rem;
    }
    .view a {
        font-size: 1rem;
    }
#motoimage {
    width:370px;
    height: auto;
    object-fit: cover;
    }
    .image-text  {
     max-width:300px;
    }
    .contact-container{
        display: flex;
          justify-content:center;
          align-items: center;
           flex-direction:column;
        }

}
